# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
bower_components
jspm_packages/
web_modules/

# Build / production
dist
dist-ssr
build
out

# Testing / coverage
coverage
*.lcov
.nyc_output

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# TypeScript cache
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example
*.local

# Editor / system files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package managers / cache
.pnp*
.npm
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity

# Misc
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
vite.config.js.timestamp-*
vite.config.ts.timestamp-*